.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.title {
  font-size: 30px;
}
