.section {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: 50px 10px 50px 10px;

  background-image: var(--linear-gradient);
  box-shadow: var(--box-shadow);
}

.container {
  width: 1440px;
  margin: 0 auto;
}
