.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    height: 600px;
  }
}

.icon {
  width: 150px;
  height: 150px;
  fill: #cacaca;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .icon {
    width: 300px;
    height: 300px;
  }
}

.text {
  font-size: 20px;
  font-weight: 600;
  color: #cacaca;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    font-size: 35px;
  }
}
