.header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px 0 50px 0;

  background-image: var(--linear-gradient);
  box-shadow: var(--box-shadow);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 30px;
  padding: 0;

  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  background-color: var(--second-bg-color);
  color: var(--second-text-color);

  cursor: pointer;
  transition: color var(--hover-animation);
}

.button:hover,
.button:focus {
  color: var(--accent-bg-color);
}

.input {
  width: 180px;
  height: 30px;
  padding: 0 10px 0 10px;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);

  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .input {
    width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .input {
    width: 700px;
  }
}

.input:focus {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75) inset;
}

.input::placeholder {
  color: #929292;
}
